{{!-- <section class="card">
  <a href="/content/{{id}}">
    <header>{{title}}</header>
    {{!-- <img src="/images/{{history.0.filename}}" alt="{{history.0.description}}" /> --}}
  {{!-- </a>
{{!-- </section> --}} --}}