<section class="card">
  <a href="/History/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}" />
    </div>
  </a>
</section>