<section class="history">
  <img src="/images/{{history.description}}" alt="{{history.description}}" />
  <div class="painting-details">
    <h3>{{history.title}}</h3>
  </div>
</section>
{{#each projects as |project|}}{{/each}}