{{! <a href="/"> Home | </a> }}
{{#if loggedIn}}
  <a href="/" id="logout"><button class="logInButton">
      Logout
    </button></a>
  <a href="/" id="messageboard"><button class="messageBoard">
      Message Board
    </button></a>
  {{! <button id="logout" class="btn-no-style">Logout</button> }}
{{else}}
  <a href="/login"><button class="logInButton"> Login </button></a>
{{/if}}

{{#if loggedIn}}

  <div>
    <ul class="collapsible entry">
      <li>
        <div class="collapsible-header"><i class="material-icons"></i>
          BASICS
        </div>
        <div class="collapsible-body"><span>A cryptocurrency is a digital or
            virtual currency that is secured by cryptography, which makes it
            nearly impossible to counterfeit or double-spend. Many
            cryptocurrencies are decentralized networks based on blockchain
            technology—a distributed ledger enforced by a disparate network of
            computers. A defining feature of cryptocurrencies is that they are
            generally not issued by any central authority, rendering them
            theoretically immune to government interference or manipulation.
            <br />
            <br />
            <strong>PROS AND CONS </strong><br />
            <br />
            The advantages of cryptocurrencies include cheaper and faster money
            transfers and decentralized systems that do not collapse at a single
            point of failure.
            <br />
            <br />
            The disadvantages of cryptocurrencies include their price
            volatility, high energy consumption for mining activities, and use
            in criminal activities.
            <br />
            <br />
          </span></div>
      </li>

      <li>
        <div class="collapsible-header"><i
            class="material-icons"
          ></i>HISTORY</div>
        <div class="collapsible-body"><span>
            Cryptos were created as a man made form of decentralized currency
            utilizing blockchain technology, the transactions are peer-to-peer
            and authenticated. The history we provide will be focused on
            Bitcoin. The first introduction of Bitcoin as know it was in 2008.
            The creator Satoshi Nakamota, is an anonymous entity that authored
            the white papers or fundamentals of Bitcoin and implemented the
            first blockchain database within. During the time of 2008-2010
            Bitcoin was not used for any transactions. The mining was done by
            Nakamota and other early contributors during this time. The first
            transaction of Bitcoin was by early contributor, Laszlo Hanyecz, he
            traded the 10,000 bitcoin to someone for an order of two delivered
            Papa John's pizzas. The modern-day equivalent of $200 million, for
            some zas'.
            <br />
            <br />

            From there Bitcoin was primarily used on websites such as Silk Road,
            an exchange for nearly any type of product. In 2013 we see some of
            the first regulations of Bitcoin, The Peoples Republic of China,
            prohibits their banks for using. From 2010-2016 Bitcoin received
            various amounts of setbacks and successes, scams were fairly common
            due to a lack of knowledge for new investors, Bitcoin finally making
            headline news and being featured in TV Shows. The Mt. Gox incident
            of 2014 is notable, Mt. Gox was the largest exchange for Bitcoin at
            the time, storing around 850,000 bitcoins, it abruptly ceased
            operation because the theft and lose of majority of the coins on the
            exchange. It is thought that majority were stolen.
            <br />
            <br />

            Alt Coins (LiteCoin, Ripple, ETH) during this time had a similar run
            of Bitcoin, they mostly base their foundation on a similar platform
            as Bitcoin, providing an alternative to Bitcoin as itself (Bitcoin)
            turns more to a store-value asset, compared to a transactional
            process. From 2015 on, until our current year of 2022, Bitcoin had
            broken its ATH (All-time-high) yearly and never dropped below its
            year to date low. From being nearly valueless, 1 Bitcoin has reached
            a high of $69,044.77, and fluctuated significantly following its
            ATH. We now are at a stage where Bitcoin is breaking its patterns,
            causing a lot of unrest within the community as we look for the next
            direction of this innovative and useful technology. In the writer’s
            opinion this is good for Bitcoin as we need to really look at why we
            use Bitcoin and read the criticism that is coming out of breaking
            the pattern, to know and fix the weaknesses of Bitcoin and provide a
            brighter stronger future for our use of money.
            <br />
            <br />

          </span></div>
      </li>

      <li>
        <div class="collapsible-header"><i class="material-icons"></i>
          PEOPLE OF CRYPTO
        </div>
        <div class="collapsible-body"><span>
            <strong>Satoshi Nakamoto: </strong>
            individual or group that created Bitcoin, his actual identity
            unknown.
            <br />
            <br />

            <strong>Michael Saylor:</strong>
            American entrepreneur and cofounder of MicroStategy. By 2020, he
            reportedly owned nearly 18,000 Bitcoin. MicroStategy has explored
            purchasing Bitcoin and other alternatives to cash to represent their
            companys assets.
            <br />
            <br />

            <strong>Vitalik Buterin:</strong>
            Russian-Canadian writer and programmer and cofounder of Ethereum.
            Involved in Bitcoin community since 2011.
            <br />
            <br />

            <strong>Jack Dorsey:</strong>
            American web developer and cofounder of Twitter.
            <br />
            <br />

            <strong>Nayib Bukele:</strong>
            President of El Salvador who has been a very large and vocal
            supporter of cryptocurrency and even named Bitcoin as a legal tender
            in 2001.
            <br />
            <br />

            <strong>Winklevoss Twins: </strong>brothers, Cameron and Tyler, and
            cofounders of HarvardConnection (now known as ConnectU). Initially
            famous for claiming that Mark Zuckerberg stole their idea for a
            social media platform. Crypto pioneers, Bitcoin billionaires, and
            founders of Winklevoss Capital in 2012 which has many crypto-focused
            investments.
            <br />
            <br />

            <strong>Akon:</strong>
            Senegalese-American singer who has proposed to create “Akon City” in
            Senegal, a residential and commercial hub with its own
            cryptocurrency, Akoin.
            <br />
            <br />

          </span></div>
      </li>

      <li>
        <div class="collapsible-header"><i class="material-icons"></i>
          CRYPTO LEXICON</div>
        <div class="collapsible-body"><span>
            o
            <strong>Address:</strong>
            place where cryptocurrency can be sent to and from, in the form of a
            string of numbers and letters.
            <br />
            <br />
            o
            <strong>ATH:</strong>
            acronym, All-Time-High, the highest price-point that a crypto
            currency has been.
            <br />
            <br />
            o
            <strong>ATL: </strong>acronym, All-Time-Low, the lowest price-point
            that a cryptocurrency has been.
            <br />
            <br />
            o
            <strong>AltCoin:</strong>
            Bitcoin was the first cryptocurrency that gained popularity, and any
            subsequent coins were termed altcoins, as in alternative coins.
            <br />
            <br />
            o
            <strong>Bear market: </strong>
            when prices of assets in a market fall by 20% or more from recent
            high.
            <br />
            <br />
            o
            <strong>Bull market:</strong>
            time during which the prices of assets grow dramatically. This type
            of market can act as a source of motivation for both investors and
            purchasers.
            <br />
            <br />
            o
            <strong>Block: </strong>a file containing information on
            transactions completed during a given time-period. Blocks are the
            constituent parts of a blockchain.
            <br />
            <br />
            o
            <strong>Blockchain:</strong>
            sequence of blocks, or units of digital information, stored
            consecutively in a public database. The basis for cryptocurrencies.
            <br />
            <br />
            o
            <strong>Circulating Supply:</strong>
            estimation of the number of coins that are circulating in the market
            and among the general public.
            <br />
            <br />
            o
            <strong>Cold Storage:</strong>
            offline storage of cryptocurrencies, typically involving hardware
            non-custodial wallets, USBs, offline computers, or paper wallets.
            <br />
            <br />
            o
            <strong>Cryptocurrency</strong>: digital currencies that use
            cryptographic technologies to secure their operation
            <br />
            <br />
            o
            <strong>DeFi:</strong>
            a movement encouraging alternatives to traditional, centralized
            forms of financial services”
            <br />
            <br />
            o
            <strong>DYOR:</strong>
            acronym, Do Your Own Research, encouraging investors to complete due
            diligence into a project before investing.
            <br />
            <br />
            o
            <strong>ELI5:</strong>
            acronym, explain like Im five, request for simplicity when crypto
            concepts are being explained
            <br />
            <br />
            o
            <strong>Ethereum:</strong>
            decentralized blockchain platform that establishes a peer-to-peer
            network that securely executes and verifies application code, called
            smart contracts
            <br />
            <br />
            o
            <strong>Fiat Money:</strong>
            legal tender backed by a central government e.g. Federal Reserve,
            that has its own banking system, such as fractional reserve banking.
            Can be physical cash or represented electronically.
            <br />
            <br />
            o
            <strong>FOMO:</strong>
            acronym, fear of missing out; as opposed to its opposite, JOMO,the
            joy of missing out.
            <br />
            <br />
            o
            <strong>FUD:</strong>
            acronym, Fear, Uncertainty, and Doubt, utilized to sway perception
            of the crypto market by spreading inaccurate information to mislead
            the general public.
            <br />
            <br />
            o
            <strong>Halving:</strong>
            event in which the total rewards per confirmed block halves
            <br />
            <br />
            o
            <strong>Hash:</strong>
            the output result of a hashing algorithm, which creates a unique,
            fixed-length string to encrypt and secure a certain selection of
            data.
            <br />
            <br />
            o
            <strong>Hash rate:</strong>
            unit of measurement for computing power being consumed by the
            network to operate.
            <br />
            <br />
            o
            <strong>HODL:</strong>
            acronym, Hold On For Dear Life, type of passive investment strategy
            where you hold an investment for a long period of time, regardless
            of any changes in the price or markets.
            <br />
            <br />
            o
            <strong>ICO:</strong>
            acronym, Initial Coin Offering, type of crowdfunding using
            cryptocurrencies as a means of raising capital.
            <br />
            <br />
            o
            <strong>KYC:</strong>
            acronym, Know Your Customer, these are checks that crypto exchanges
            and trading platforms must complete to verify the identity of their
            customers.
            <br />
            <br />
            o
            <strong>Ledger:</strong>
            a record of financial transactions that cannot be changed, only
            appended with new transactions.
            <br />
            <br />
            o
            <strong>Mining:</strong>
            competitive process that verifies and adds new transactions to the
            blockchain for a cryptocurrency that uses the proof-of-work method
            <br />
            <br />
            o
            <strong>NFT:</strong>
            acronym,non-Fungible Token,cryptocurrencies that cannot can be
            traded or exchanged for one another. Generaly built using same kind
            of programming as cryptocurrencies like Bitcoin or Ethereum.
            <br />
            <br />
            o
            <strong>Node:</strong>
            most basic unit of blockchain infrastructure that stores data.
            <br />
            <br />
            o
            <strong>P2P: </strong>
            acronym,Peer-to-Peer, decentralized interactions between parties in
            a distributed network, partitioning tasks or workloads between
            peers.
            <br />
            <br />
            o
            <strong>Private Key:</strong>
            piece of code generated in asymmetric-key encryption process, paired
            with a public key, to be used in encrypting information hashed with
            the public key
            <br />
            <br />
            o
            <strong>Public Key:</strong>
            series of alphanumeric characters used to encrypt plain text
            messages into ciphertext.
            <br />
            <br />
            o
            <strong>Pump and Dump Scheme:</strong>
            form of fraud involving the artificial inflation of the price of a
            cryptocurrency with false and misleading positive statements.
            <br />
            <br />
            o
            <strong>Proof of Stake:</strong>
            blockchain consensus mechanism in addition to Proof-of-Work that
            maintains the integrity of blockchain
            <br />
            <br />
            o
            <strong>Proof of Work:</strong>
            blockchain consensus mechanism involving solving of computationally
            intensive puzzles to validate transactions and create new blocks
            <br />
            <br />
            o
            <strong>REKT:</strong>
            shorthand describing a bad trading loss: “wrecked”
            <br />
            <br />
            o
            <strong>Smart Contract:</strong>
            computer protocol intended to facilitate, verify or enforced a
            contract on the blockchain without third parties.
            <br />
            <br />
            o
            <strong>Token:</strong>
            a digital unit designed with utility in mind, providing access and
            use of a larger crypto economic system.
            <br />
            <br />
            o
            <strong>Volatility: </strong>statistical measure of dispersion of
            returns, measured by using the standard deviation or variance
            between returns from that same security or market index.
            <br />
            <br />
            o
            <strong>Wallet:</strong>
            a place where cryptocurrency users can store, send and receive
            digital assets.
            <br />
            <br />
            o
            <strong>Whale:</strong>
            term used to describe investors who have uncommonly large amounts of
            crypto, especially those with enough funds to manipulate the market.
            <br />
            <br />
            o
            <strong>Wen Lambo:</strong>
            phrase referring to when cryptocurrency holders will become rich
            enough to afford the purchase of a Lamborghini.
            <br />
            <br />
            o
            <strong>Wen Moon:</strong>
            phrase used to ask when the price of cryptocurrencies will have
            extreme upward movement.
            <br />
            <br />
            o
            <strong>White Papers:</strong>
            document released by a crypto project that gives investors technical
            information about its concept, and a roadmap for how it plans to
            grow and succeed.
            <br />
            <br />

          </span></div>
      </li>
    </ul>
  </div>

{{else}}
  <div class="image">
    <img
      src="https://images.unsplash.com/photo-1609726494499-27d3e942456c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    />
  </div>
{{/if}}