<section class="container">
  <h2 class="learning-name">{{learning.name}}</h2>
  <section class="flex-row justify-center">
    {{#each learning.picture as |picture|}}
    {{> learning-details}}
    {{/each}}
  </section>
</section>