
    <section>
        <div class="row" id="login">
            <div class="col s12 m9 entry">
                <h2>Login</h2>
                
                  <form>
                    
                    <div class="row">
                        <div class="input-field col s12">
                        <input placeholder="Password" id="password" type="password" class="validate">
                        <label for="password"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                        <input placeholder="Email" id="email" type="email" class="validate">
                        <label for="email"></label>
                        </div>
                    </div>
                    <a id="starButton" class="waves-effect  waves-light btn" type="submit" name="action">Login</a>
                </form>
            </div>
        </div>
    </section>



    <section>
        <div class="row" id="signup">
            <div class="col s12 m9 entry">
                <h2>Signup</h2>
                <form>
                    <div class="row">
                        <div class="input-field col s6">
                        <input placeholder="Username" id="first_name" type="text" class="validate">
                        <label for="username"></label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                        <input placeholder="Password" id="password" type="password" class="validate">
                        <label for="password"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                        <input placeholder="Email" id="email" type="email" class="validate">
                        <label for="email"></label>
                        </div>
                    </div>
                    <button id="starButton" class="btn waves-effect  waves-red" type="submit" name="action">SignUp</button>
                </form>
            </div>
        </div>
    </section>
<script src="./js/login.js"></script>

    <aside class="right hide-on-med-and-down">
        <img src="/images/cryptocurrency.jpg" id="logCryptImg"> 
    </aside>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</div>
