body {
  background: rgb(251, 227, 63);
  background: radial-gradient(
    circle,
    rgba(251, 227, 63, 1) 0%,
    rgba(13, 1, 1, 1) 100%
  );
  /* margin-left: 5rem; */
}

main {
  background-image: url("https://images.unsplash.com/photo-1609726494499-27d3e942456c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border-radius: 10px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  object-fit: cover;
  box-shadow: 0rem 0rem 1rem 0rem rgb(0, 0, 0);
}
/* .row {
  border: 5px solid black;
} */

.entry {
  margin: 2rem;
  font-family: "Joan", serif;
  text-align: center;
  border-radius: 2%;
  box-shadow: 0rem 0rem 1rem 0rem rgb(0, 0, 0);
}

#cryptImage {
  height: 200px;
  width: 200px;
  /* position: absolute; */
  margin: 0;
  position: absolute;
  top: 13%;
  left: 10%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
  box-shadow: 0rem 0rem 1rem 0rem rgb(0, 0, 0);
}

#navbar {
  background: rgb(65, 58, 13);
  background: radial-gradient(
    circle,
    rgba(65, 58, 13, 1) 0%,
    rgba(13, 1, 1, 1) 100%
  );
  font-family: "Federant", cursive;
  z-index: 1;
}

.logInButton {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 65%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 5%;
  height: 3rem;
  width: 7rem;
  color: aliceblue;
  background: rgb(139, 25, 25);
  background: radial-gradient(
    circle,
    rgba(139, 25, 25, 1) 0%,
    rgba(13, 1, 1, 1) 100%
  );
}

#starButtonLogin {
  margin: 25px 25px 25px 25px;
  border-radius: 5%;
  background: rgb(139, 25, 25);
  background: radial-gradient(
    circle,
    rgba(139, 25, 25, 1) 0%,
    rgba(13, 1, 1, 1) 100%
  );
}

h1 {
  font-size: 3rem;
  font-family: "Federant", cursive;
  font-weight: 900;
  text-shadow: 2px 2px 7px #ff0000;
  text-align: center;
}

#logCryptImg {
  position: absolute;
  top: 20rem;
  right: 5rem;
  /* float: right; */
  width: 20rem;
  height: 55rem;
  z-index: -1;
  box-shadow: 0rem 0rem 1rem 0rem rgb(0, 0, 0);
  border-radius: 20%;
}

/* .form-group {
  color: black;
} */

.input-field label {
  color: #000;
}

.gallery {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.painting {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.painting-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

img {
  max-width: 100%;
  height: auto;
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.gallery-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

strong {
  font-weight: bolder;
}
