<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Creepster&family=Federant&family=Gloria+Hallelujah&family=Joan&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/jass.css" />
    <title>The Learning Crypt</title>
  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between center-align p-2">
        <h1>
          <span role="img" aria-label="money">💸</span>
          <a href="/">&#128178 LEARNING CRYPT &#128178</a>
        </h1>
        <nav>
          <a href="/">Home</a>
          {{#if loggedIn}}
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </nav>
      </header>
      <main class="container container-fluid mt-5">
        <div class="gallery">
          {{{body}}}
        </div>
      </main>
    </div>

    <!-- Render script for logged in users only -->
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>